---
layout: landing
---
<!-- Banner -->
<section id="banner">
    {% include banner.html %}
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    {% include sobre.html %}
</section>

<!-- eventos -->
<section id="eventos" class="wrapper style3 special">
    {% include eventos.html %}
</section>


<!-- palestrante -->
<section id="palestrante" class="wrapper style4">
    {% include palestrante.html %}
</section>

<!-- patrocinadores -->
<section id="patrocinadores" class="wrapper style2 patrocinadores">
    {% include patrocinadores.html %}
</section>


