<div class="inner">
    <header class="major">
        <h2>Encontros e eventos</h2>
        <p>
            Estes são nossos encontros e eventos mais recentes.
        </p>
    </header>
    <ul class="features">
        {% for post in site.categories.eventos %}
            <li class="icon fa-{{ post.icon | escape }}">
                <h3>{{ post.title | escape }}</h3>
                {% assign date_format = site.minima.date_format | default: "%d/%m/%Y  · %H:%M" %}
                <small>{{ post.date | date: date_format }}</small>
                <p>
                    <span>
                        {{ post.description }}
                    </span>

                    {% if(post.link && post.link != '') %}
                        <a href="{{ post.link }}" class="button fit" target="_blank">Saiba mais</a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
</div>