<!-- Header -->
<header id="header" {% if page.layout== 'landing' %} class="alt"{% endif %}>
<h1>
    <a href="{{ site.baseurl }}">
        <img id="logo" src="images/logo_b.png" title="{{site.title}}" />
    </a>
</h1>
<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"></a>
            <div id="menu">
                <ul>
                    <li>
                        <a href="#cta" title="Quer ser um palestrante?">
                            <span>Quer ser um palestrante?</span>
                        </a>
                    </li>
                    <li>
                        <a href="#three" title="Eventos">
                            <span>Eventos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#two" title="Parceiros">
                            <span>Parceiros</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.twitter}}" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.github}}"  target="_blank" title="GitHub">
                            <i class="fa fa-github"></i>
                            <span>GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.facebook-official}}" target="_blank" title="Facebook">
                            <i class="fa fa-facebook-official"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.instagram}}" target="_blank" title="Instagram">
                            <i class="fa fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.whatsapp}}" target="_blank" title="Whatsapp">
                            <i class="fa fa-whatsapp"></i>
                            <span>Whatsapp</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.telegram}}" target="_blank" title="Telegram">
                            <i class="fa fa-telegram"></i>
                            <span>Telegram</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{site.social.meetup}}" target="_blank" title="Meetup">
                            <i class="fa fa-meetup"></i>
                            <span>Meetup</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
</header>
