/*
Theme Name:   Appointment Blue
 Description:  A Business theme which is ideal for creating a corporate / business website. Appointment Blue theme is a child theme of appointment theme and it is the Blue color variation. Those who need the white background based theme they can use this child theme. Appointment Blue theme comes with various locales.
 Author:       webriti
 Author URI:   http://www.webriti.com
 Theme URI:   http://webriti.com/appointment-blue-child-version-details-page-1/
 Template:     appointment
 Version:      1.1.5
 Tags: 		   full-width-template, threaded-comments, two-columns,  right-sidebar, sticky-post, custom-menu, translation-ready, blog, portfolio, footer-widgets, featured-images, featured-image-header, custom-header
 Text Domain: appointment-blue
*/
